<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="workouts" href="/tabs/workouts">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Treinos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="progress" href="/tabs/progress">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Progresso</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
